@font-face {
    font-family: 'Noto Sans SC';
    src: url('/assets/fonts/NotoSansSC-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans SC';
    src: url('/assets/fonts/NotoSansSC-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

:root {
    --vp-font-family-base: "Noto Sans SC", sans-serif;
}
